body {
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}

#player1 {
    background-color: red;
    width: 250px;
    height: 100px;
    font-size: 20px;
}

#player2 {
    background-color: green;
    width: 250px;
    height: 100px;
    font-size: 20px;
}